@import 'utils/variables';
@import 'utils/mixins';

.leer-mas {
    display: inline-block;
    margin: 1rem 0;
    background-color: $primary-color;
    color: $blanco;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.btn-volver {
    @include boton($verde-claro, $blanco);
    margin-bottom: 2rem;
}

.boton-rojo-block {
    @include boton($rojo, $blanco);
    display: block;
    margin: .5rem 0 0 0;
    width: 100%;
}
.boton-verde-block{
    @include boton($verde, $blanco);
    display: block;
    margin: .5rem 0;
}