@mixin mq($breakpoint) {
    @if $breakpoint == 'small-phone' {
        @media (max-width:390px) { @content;}
    } @else if $breakpoint == 'phone' {
        @media (max-width: 600px) { @content; }
    } @else if $breakpoint == 'tablet' {
        @media (max-width: 768px) { @content; } 
    } @else if $breakpoint == 'small-dektop' {
        @media (max-width: 992px) { @content; }
    } @else if $breakpoint == 'desktop' {
        @media (max-width: 1200px) { @content; }
    }
}

@mixin card-style {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: 0.3s ease, box-shadow 0.3s ease;
    
    &:hover{
        transform: translateY(-5px) translateX(5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
    }
}

@mixin boton($bg-color, $color) {
    background-color: $bg-color;
    border: none;
    color: $color;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}