
//Colores
$primary-color:#082d0f;
$secondary-color: #f4f6f2;
$blanco: white;
$negro: black;
$fondo-transparente: rgba(255, 255, 255, .5);

//Fuentes
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Sedan', serif;

