.header {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $blanco;
    height: 8rem;
}

.titulo {
    font-family: var(--fuente-principal);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem;
    margin-left: 3rem;
}

.sub-titulo {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav a {
    color: var(--negro);
}

.nav ul li{
    display: inline-block;
    margin-right: 1rem;
}

.nav ul li:hover {
    font-size: 1.7rem;
    transition: .3s;
}

@media (max-width: 880px) {
    .header {
        height: 12rem;
        flex-direction: column;
    }
    .nav {
        padding: 1rem 0;
    }
}


@media (max-width: 550px) {
    .header {
        height: 25rem;
        justify-content: center;
    }
    .logo {
        flex-direction: column;
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        margin-left: 3rem;
    }
}