@import 'utils/variables';
@import 'utils/mixins';

.header {
    background-color: $blanco;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 8rem;
}
.titulo {
    font-family: $primary-font;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem;
    margin-left: 3rem;
}
.sub-titulo {
    font-family: $primary-font;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@include mq('tablet') {
    .header {
        height: 12rem;
        flex-direction: column;
    }
    .nav {
        padding: 1rem 0;
    }
}
@media (max-width: 550px) {
    .header {
        height: 25rem;
        justify-content: center;
    }
    .logo {
        flex-direction: column;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        margin-left: 3rem;
    }
}