:root {
    /*Fuentes*/
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Sedan', serif, normal;

    /*Colores*/
    --blanco: white;
    --verde-claro: #f4f6f2;
    --verde-oscuro: #082d0f;
    --negro: black;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--verde-claro);
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    background-color: var(--verde-claro);
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuente-secundaria);
    line-height: 1.2;
    font-weight: 400;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

ul, li {
    list-style: none
}


/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');




/* Header */

.header {
    background-color: var(--verde-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--blanco);
    height: 8rem;
}

.titulo {
    font-family: var(--fuente-principal);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem;
    margin-left: 3rem;
}

.sub-titulo {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav a {
    color: var(--negro);
}

.nav ul li{
    display: inline-block;
    margin-right: 1rem;
}

.nav ul li:hover {
    font-size: 1.7rem;
    transition: .3s;
}

@media (max-width: 880px) {
    .header {
        height: 12rem;
        flex-direction: column;
    }
    .nav {
        padding: 1rem 0;
    }
}


@media (max-width: 550px) {
    .header {
        height: 25rem;
        justify-content: center;
    }
    .logo {
        flex-direction: column;
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        margin-left: 3rem;
    }
}

/* Article inicio, noticias */

.noticias {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 120rem;
    height: 40rem;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    margin: 4rem 0 4rem 0;
}

@media (max-width: 950px) {
    .noticias {
        grid-template-columns: 1fr;
        align-items: center;
        height: 70rem;
        overflow: hidden;
        gap: 1rem;
    }

    button {
        display: inline-block;
        margin: 0;
    }
    
}


.novedades {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.noticias h3 {
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
}

.noticias p {
    margin: 2rem 0;
}

.noticias img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

button {
    border: none;
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    padding: 1.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 2rem 0;
}

button:hover {
    cursor: pointer;
}

/* Recetas */

.contenedor-recetas {
    background-color: var(--blanco);
    padding-bottom: 3rem;
}

.recetas {
    display: inline-block;
    margin: 3rem 0;
    font-weight: 400;
    font-size: 4rem;
}

.recetas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 4rem;
}

.card {
    width: 285px;
    justify-self: center;
}

.card a {
    color: var(--negro);
}

.card-titulo {
    display: inline-block;
    font-family: var(--fuente-secundaria);
    font-size: 3rem;
    text-decoration: underline;
    width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

.card-titulo:hover {
    text-decoration: none;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin: 1rem 0 2rem 0;
}

.card-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inherit;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}

.card-link:hover {
    text-decoration: none;
}

/* Tienda */

.contenedor-cards-tienda {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .contenedor-cards-tienda {
        flex-direction: column;
    }
}

.tienda h3 {
    text-align: center;
    margin-top: 4rem;
}

.card-tienda h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.precio-tienda {
    font-weight: bold;
}

.card-tienda img {
    width: 100%;
    height: auto;
    max-height: 20em;
    object-fit: cover;
}

.card-button {
    width: 100%;
}



/* Sobre nosotros */


.sobre-nosotros-img {
    position: relative;
    height: 40rem;
    width: 100%;
    margin: 6rem 0;
}

/* .sobre-nosotros-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--negro);
    z-index: 0;
} */

.sobre-nosotros-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/sobre-nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;

}


.sobre-nosotros {
    position: relative;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 40rem;
    gap: 3rem;
    z-index: 1;
}

.sobre-nosotros-txt {
    text-align: center;
    color: var(--verde-oscuro);
}

.sobre-nosotros-txt h3 {
    margin-bottom: 3rem;
}

.sobre-nosotros-txt p {
    font-size: 1.6rem;
}

.sobre-nosotros iframe {
    width: 50rem;
    height: 30rem;
}

@media (max-width: 980px) {
    .sobre-nosotros iframe {
        width: 30rem;
    }
    .sobre-nosotros-txt h3 {
        margin: 3rem 0;
    }
}

@media (max-width: 768px) {
    .sobre-nosotros{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .sobre-nosotros-img {
        height: 65rem;
    }
}

@media (max-width: 420px) {
    .titulo {
        text-align: center;
    }
    .sobre-nosotros-img {
        height: 70rem;
    }
}

@media (max-width: 360px) {
    .sobre-nosotros-img {
        height: 80rem;
    }
}

/* Footer */

.footer {
    margin-top: 5rem ;
    padding-bottom: 2rem;
    background-color: var(--negro);
    color: var(--blanco);
    height: 20rem;
}

.footer a{
    color: var(--blanco);
    display: inline-block;
    margin: 1rem 0;

}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
}


.footer-form input {
    padding: .5rem;
}

.suscribete-txt {
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    margin: 2rem 0;
}

.boton-susc {
    margin-top: 1rem;
    background-color: var(--verde-claro);
    color: var(--negro);
    padding: .7rem;
}

.error-email {
    background-color: rgba(255, 0, 0, .3);
    color: white;
    margin-top: 1rem;
}

.suscripto {
    background-color: rgb(65, 179, 65);
    color: black;

}

